
<form [formGroup]="registrationForm" (ngSubmit)="Register()">
<div class="container">


    <div class="main">
        <div class="row">
            <div class="col-2"></div>
            <div class="col-8"><h1>    welcome to our E-bank</h1></div>
            <div class="col-2"></div>
        </div>

        <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Account Number</label>
            <input type="text" formControlName="acc" name="acc" class="form-control" id="acc">
            <div *ngIf="(this.registrationForm.get('acc')?.touched||this.registrationForm.get('acc')?.dirty)&&this.registrationForm.get('acc')?.errors" class="error" >Invalid Account Number</div>
           
                </div>
        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">UserName</label>
            <input type="text" class="form-control"formControlName="uname" name="uname" id="uname" aria-describedby="emailHelp">
            <div *ngIf="(this.registrationForm.get('uname')?.touched||this.registrationForm.get('uname')?.dirty)&&this.registrationForm.get('uname')?.errors" class="error" >Invalid Username</div>
        </div>
        <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Password</label>
            <input type="password" formControlName="pwd" name="pwd" class="form-control" id="pwd">
            <div *ngIf="(this.registrationForm.get('pwd')?.touched||this.registrationForm.get('pwd')?.dirty)&&this.registrationForm.get('pwd')?.errors" class="error" >Invalid Password</div>
        </div>
    </div>
    <button type="submit" class="btn btn-primary">Register</button>
    <a routerLink=""class="btn btn-primary" >log in</a>

</div>
</form>